img {
  margin: 0;
}

.wrapper {
  width: 100%;
  background: #224364;
  color: #e9eef3;
  padding: 40px 0 0 0;
  font-size: 0.9rem;
  text-align: center;
}

.footer--container {
  display: flex;
  flex-direction: column;
}

.footer__link {
  color: #e9eef3;
  font-size: 0.8rem;
  display: inline;
}

.footer__link:hover {
  cursor: pointer;
  color: #66c3cc;
}

.footer--info {
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  margin: 0;
}

.paragraph__white {
  padding-top: 40px;
}
