.main {
  background-color: #2ca3ff;
  background-image: linear-gradient(106deg, #1eccff, #3c72ff);
  font-weight: lighter;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); */
  color: white;
}

.navbar__logo {
  text-decoration: none;
  padding-left: 20px;
  color: white;
  font-weight: lighter;
}

.navbar__item {
  text-decoration: none;
  padding-right: 35px;
  letter-spacing: 1.1px;
  font-size: 0.8em;
  color: white;
}

.navbar__item:hover {
  opacity: 0.7;
}

.navbar__brand {
  display: flex;
}

.navbar__items--right {
  display: flex;
  margin-left: auto;
}

.logo {
  width: 30px;
  padding-left: 8px;
  margin-bottom: 0;
}

.navbar__toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar__items--right,
  .navbar__logo,
  .navbar__brand,
  .navbar {
    flex-direction: column;
  }
  .navbar__items--right {
    margin-left: 0;
    display: none;
  }
  .navbar__logo {
    padding-left: 10px;
  }
  .navbar__toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
  /* .navbar__toggle--show {
    display: flex;
  } */
}

/* ========================== */
/* HEADER */
/* ========================== */

.header {
  display: flex;
  justify-content: space-evenly;
  color: #f5f5f5;
  padding: 8% 2% 10% 2%;
}

.header__title {
  margin-bottom: 10px;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); */
  font-size: 3rem;
  font-weight: lighter;
}

.header__slogan {
  margin-top: 10px;
  margin-bottom: 50px;
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); */
  font-weight: lighter;
}

.header img {
  max-width: 100%;
  height: auto;
}

.header a {
  height: 40px;
  width: 200px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  letter-spacing: 1.5px;
  box-shadow: 0 2px 5px 0 rgba(40, 44, 186, 0.14);
  /* text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15); */
  font-weight: lighter;
}

.btn__link {
  text-decoration: none;
}

.header a:hover {
  background: white;
  color: #2ca3ff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header__title {
    font-size: 1.8rem;
  }
  .header__slogan {
    font-size: 0.8rem;
  }
  .header img {
    display: none;
  }
}
