/* ========================== */
/* HEADER */
/* ========================== */

.header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px 80px 50px;
  margin: 0 auto;
  background: #224264;
}

.header__title {
  margin: 40px 0 10px 0;
  font-size: 3rem;
  color: #66c3cc;
  font-weight: bold;
}

.header__slogan {
  margin-top: 10px;
  color: #e9eef3;
  font-weight: lighter;
  font-size: 1.2rem;
}

.header__phone {
  color: #e9eef3;
  margin: 10px 0 40px 0;
  font-size: 1.2rem;
}

.header img {
  max-width: 400px;
  height: auto;
  margin-bottom: 0;
}

.header a {
  height: 40px;
  width: 200px;
  border-radius: 3px;
  background: #66c3cc;
  border: 2px solid #66c3cc;
  padding: 13px 20px;
  color: #224264;
  letter-spacing: 2px;
  box-shadow: 0 2px 5px 0 rgba(34, 67, 111, 0.14);
  font-weight: bold;
  margin-bottom: 50px;
}

.btn__link {
  text-decoration: none;
}

.header a:hover {
  background: #e9eef3;
  color: #66c3cc;
  cursor: pointer;
}

@media (max-width: 864px) {
  .header {
    /* padding: 10px 0 100px 50px; */
    padding: 0;
    height: 330px;
    margin: 0 auto;
  }
  .header__title {
    font-size: 2.5rem;
  }
  .header__slogan {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .header img {
    display: none;
  }
  .header {
    text-align: center;
  }
}
