html {
  background: #fff;
  /* font-size: 18px; */
}

.norwex__logo {
  border-radius: 3px;
  /* height: 280px;
  width: 700px; */
  margin: 80px 0 80px 0;
}

img {
  margin-bottom: 0;
}

.contract__icon {
  width: 150px;
  margin-bottom: 0;
}

@media (max-width: 850px) {
  .contract__icon {
    margin-top: 60px;
  }
  .norwex__logo {
    height: 200px;
  }
}

.donation {
  font-size: 1.4rem;
}

.num--caption {
  margin-top: -20px;
}

/* =============== */
/* INDEX PAGE */
/* ============== */

.donation-photo {
  width: 250px;
}

.paragraph--link {
  color: #66c3cc;
  background: #224364;
  height: 40px;
  border-radius: 3px;
  padding: 13px 20px;
  letter-spacing: 2px;
  box-shadow: 0 2px 5px 0 rgba(34, 67, 111, 0.14);
  font-weight: bold;
  margin: 0 auto;
}

.paragraph--link:hover {
  background: white;
  color: #66c3cc;
  cursor: pointer;
}

.paragraph__white {
  color: #e9eef3;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.9px;
  padding: 40px 0 20px 0;
  text-align: center;
}

.phoneNumber {
  font-size: 1.3rem;
  color: #224364;
}

/* @media (min-width: 1400px) {
  .page-container {
  }
} */

/* ===================== */
/* Reviews */
/* ===================== */

.quotewrap {
  max-width: 800px;
  margin: 0 auto;
}

/* ===================== */
/* Contact */
/* ===================== */

.hear-question {
  width: 350px;
}

.red {
  color: red;
}

.padding {
  padding-bottom: 40px;
}

/* Norwex photo cred: https://theresalongo.com/norwex/ */
