html {
  background: #fff;
  font-size: 18px;
}

.norwex__logo {
  border-radius: 3px;
  /* height: 280px;
  width: 700px; */
  margin: 80px 0 80px 0;
}

img {
  margin-bottom: 0;
}

.contract__icon {
  width: 150px;
}

@media (max-width: 850px) {
  .contract__icon {
    margin-top: 60px;
  }
}

.title {
  font-size: 1.5rem;
}

.num {
  margin-bottom: 0;
}

.num--caption {
  margin-top: -20px;
}

/* =============== */
/* INDEX PAGE */
/* ============== */

.paragraph--link {
  font-size: 1.3rem;
  font-weight: bold;
  color: #224364;
  text-decoration: underline;
}

.paragraph--link:hover {
  color: #e9eef3;
}

.paragraph__white {
  color: #e9eef3;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.9px;
  padding: 40px 0 20px 0;
  text-align: center;
}

.phoneNumber {
  font-size: 1.3rem;
  color: #224364;
}

/* @media (min-width: 1400px) {
  .page-container {
  }
} */

/* ===================== */
/* Reviews */
/* ===================== */

.quotewrap {
  max-width: 800px;
  margin: 0 auto;
}

/* ===================== */
/* Contact */
/* ===================== */

.hear-question {
  width: 350px;
}

/* Norwex photo cred: https://theresalongo.com/norwex/ */
