* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  background: #224364;
  font-size: 18px;
  padding-bottom: 30px;
  letter-spacing: 1.3px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: #e9eef3;
}

.nav-links:hover,
.logo:hover,
.navbar-toggle:hover {
  text-decoration: none;
  color: #66c3cc;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
  font-size: 0.8rem;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 0.9rem;
}

.navbar-toggle {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: 815px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 100px;
    align-items: baseline;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin-top: 40px;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: #66c3cc;
  }
}
